.imageStyle{
    width: 130px;
    min-width: 130px;
    height: 130px;
    min-height: 130px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 30px;
}

.headerStyle{
    font-family: RaleWay;
    font-size: 3rem;
    font-weight: 1000;
    margin: 0px;
    margin-left: 10px;
    height:100%;
}

.animalStyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border-bottom: 1px solid #ebecf0;
    padding: 10px;
}

.animal-image-and-text-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


.delete-button{
    background-color: #fff;
    font-size: larger;
    border-radius: 7px;
    font-weight: bold;
    min-width: fit-content;
    width: 10%;
    height:50%;
    padding: 10px 0 10px 0;
    margin: 20px 20px 0 20px;
}

.button-style{
    margin-top: 20px;
    border: none;
    height: 30px;
    width: 30px;
    margin-right: 40px;
    /*//makes picture lighter*/
    background-color: #fff;
}







