button {
    cursor: pointer;
    background-color: #fff;
    font-size: larger;
    border-radius: 7px;
    font-weight: bold;
    min-width: fit-content;
    padding: 10px 0 10px 0;
    margin: 20px;
}

section{
    height:70vh;
    width: 70vw;
    overflow: auto;
    scroll-behavior: smooth;
}

.paragraph-style {
    font-family: RaleWay, serif;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0px;
    margin-Left: 40px;
    text-align:left;
}

/*region Buttons/Search*/
.search-field{
    width: 100%;
    max-width: -webkit-fill-available;
    border: none;
    border-bottom: 2px solid #e4e6eb;
    padding: 5px;
    margin: 20px;
    font-family: RaleWay, serif;
    font-size: 1.3rem;
}

.input-container{
    display: flex;
    justify-content: space-evenly;
}

.input-container > button{
    flex:1;
}
/*endregion*/

.animal-not-found{
    text-align: center;
}

.selected-animal-container{
    display: flex;
    height:100%
}

.selected-animal-container >div{
    flex:1;
    display:flex;
    flex-direction: column;
}

.selected-animal-container >div>h1{
    text-align: center;
}

@media only screen and (max-width: 1200px){
    section{
        width: 95vw
    }

    /*region Buttons/Search*/
    .search-field-container{
        display: flex;
        justify-content: center;
    }

    .search-field{
        width:83%
    }

    .input-container{
        flex-direction: column;
        align-items: center;
    }

    .input-container > button{
        margin: 20px 20px 0 20px;
        width:85%;
    }
    /*endregion*/

    .selected-animal-container{
        flex-direction: column;
    }

    .paragraph-style{
        margin-left: 0px;
        text-align: center;
    }
}